@import "../../variables.scss";
@import "../../common.scss";
.dropdown {
  width: 94%;
  margin: 20px 20px 20px 0;
  font-size: 20px;
  font-family: inherit;


  .dropdown-button {
    background-color: $bgc-red;
    color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    @media only screen and (max-width: 480px) {
      border-radius: 5px;
    }
  }
  .title-dropdown {
    padding-left: 20px;
    padding-top: 5px;
  }
  i {
    padding: 10px;
  }
}
.content {
  padding: 0 18px;
  display: none;
  font-weight: 300;
  min-height: 60px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: left;
  background-color: $bgc-gray;
  left: 0px;
  top: 42px;
  color: $text-primary-color;
  p {
    white-space: pre-line;
  }
}
