@import '../../variables.scss';
@import "../../common.scss";

.dropdown {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    background-color: $bgc-red;
    
  }
  
  .dropdown-header {
    padding: 15px;
    max-height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-secondary;
  }
  
  .dropdown-body {
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
    width: 100%;
  }
  
  .dropdown-body.open {
    display: block;
    background-color: $bgc-gray;
  }
  
  .dropdown-item {
    padding: 10px;
    text-align: left;
    color: $text-primary-color;
  }
  
  .dropdown-item:hover {
    cursor: pointer;
  }
  
  .dropdown-item-dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }
  
  .dropdown-item-dot.selected {
    opacity: 1;
  }
  
  .icon {
    font-size: 13px;
    color: $text-secondary;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
  }
  
  .icon.open {
    transform: rotate(180deg);
  }
  .dropdown-50{
    width: 40%;
    margin-right: 2rem;
  }