.br-10{
    border-radius: 10px;
}
.br-25{
    border-radius: 25px;
}
.ml-60{
    margin-left: 60px;
}
.mr-60{
    margin-right: 60px;
}
.my-50{
    margin-top:50px;
    margin-bottom: 50px
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}