@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300;1,400&display=swap');

$text-primary-color: #FF6060;
$text-secondary: #fff;
$bgc-color: #FFFFFF;
$bgc-gray: #F6F6F6;
$bgc-red: #FF6060;

$font-primary: 'Montserrat';